<div class="container">
    <img [src]="book.imageUrl" [alt]="book.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{book.name}}
            </span>
            <span class="favorite {{book.favorite? '': 'not'}}">❤</span> 
        </div>
        <div class="tags">
            <a *ngFor="let category of book.categories" routerLink="/category/{{category}}">
              {{category}}
            </a>
          </div>
        <div class="price">
            <span>
              {{book.price | currency}}
            </span>
        </div>
        <button (click)="addToCart()">Add To Cart</button>
    </div>
</div>
<div class="decription">
<h4>Thông tin:</h4>
{{book.decription}}
</div>